.keepTrackOfYourSnippets{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.keepTrackOfYourSnippets .titulo{
    font-size: 1.8rem;
}

.keepTrackOfYourSnippets .spanText{
    width: 41%;
    height: auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
}

.monitorDesktop{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.desktop{
    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.imgDesktop{
    min-width: 80%;
    position: relative;
    right: 1rem;
}
.info{
    width: 50%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tituloInfo{
    width: 59%;
    color: var(--Dark-Grayish-Blue);
    text-align: start
}

.spanInfo{
    color: var(--Grayish-Blue);
    margin-top: 0.5rem;
    flex-grow: 1;
    width: 59%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.6rem;
}

@media (max-width: 610px){

    .keepTrackOfYourSnippets{
        width: auto;
    }

    .keepTrackOfYourSnippets .titulo{
        margin-bottom: 0.5rem;
    }

    .keepTrackOfYourSnippets .spanText{
    width: 80%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
}

    .monitorDesktop{
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.desktop{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDesktop{
    position: initial;
    width: 100%;
    max-width: 344px;
}

.info{
    width: 90%;
    height: 414px;
}

.tituloInfo{
    text-align: center
}

.spanInfo{
    color: var(--Grayish-Blue);
    margin-top: 0.5rem;
    text-align: center;
    width: 90%;
    display: block;
}
}