.marcas{
    margin:0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.marcas figure{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 840px){
    .marcas{
        flex-direction: row;
        height: auto;
    }

    .marcas figure{
        width: 50%;
    }
}

@media (max-width: 610px){
    .marcas{
        flex-direction: column;
        height: auto;
    }

    .marcas figure{
        width: 100%;
    }
}