
.accessClipboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.accessClipboard .titulo{
    font-size: 1.8rem;
}

.accessClipboard .spanText{
    width: 40%;
    height: auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
}

.mobile{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgMobile{
    min-width: 50%;
}

@media (max-width: 610px){
    .accessClipboard .titulo{
    margin-bottom: 0.5rem;
}

    .accessClipboard .spanText{
    width: 80%;
}

    .mobile{
        margin-top: 1.5rem;
    }
}